<p id="notice"><%= notice %></p>

<h1>Party Names</h1>

<table>
  <thead>
    <tr>
      <th>Party</th>
      <th>Name</th>
      <th>Start date</th>
      <th>End date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @party_names.each do |party_name| %>
      <tr>
        <td><%= party_name.party %></td>
        <td><%= party_name.name %></td>
        <td><%= party_name.start_date %></td>
        <td><%= party_name.end_date %></td>
        <td><%= link_to 'Show', party_name %></td>
        <td><%= link_to 'Edit', edit_party_name_path(party_name) %></td>
        <td><%= link_to 'Destroy', party_name, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Party Name', new_party_name_path %>
